<div class="container">
    <div class="header-kanban">
        <h1>{{ modoEdicao() ? 'Editar tarefa' : 'Nova tarefa'}}</h1>
        <button type="button" [routerLink]="['/tarefas']" class="btn-voltar-topo">Voltar</button>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="formulario">
        <div class="campo">
            <label for="titulo">Título *</label>
            <textarea id="titulo" formControlName="titulo" rows="1" placeholder="Digite o título da tarefa"
                (input)="autoResize($event)">
            </textarea>
            @if (tituloCampo?.touched && tituloCampo?.errors?.['required']) {
            <span class="campo-erro">
                O título é obrigatório
            </span>
            }
            @if (tituloCampo?.touched && tituloCampo?.errors?.['minlength']) {
            <span class="campo-erro">
                O título deve conter no mínimo 5 caracteres
            </span>
            }
            @if (tituloCampo?.touched && tituloCampo?.errors?.['maxlength']) {
            <span class="campo-erro">
                O título deve conter no máximo 200 caracteres
            </span>
            }
        </div>

        <div class="campo">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" formControlName="descricao" rows="4" placeholder="Descrição da tarefa"
                (input)="autoResize($event)">
            </textarea>
        </div>

        @if (modoEdicao()){
        <div class="campo">
            <label for="status">Status</label>
            <select id="status" formControlName="status">
                <option value="Pendente">Pendente</option>
                <option value="EmAndamento">Em andamento</option>
                <option value="Concluida">Concluída</option>
            </select>
        </div>
        }

        <div class="acoes">
            <button type="button" [routerLink]="['/tarefas']" class="btn-cancelar">Cancelar</button>
            <button type="submit" [disabled]="form.invalid" class="btn-salvar">
                {{ salvando() ? 'Salvando...' : (modoEdicao() ? 'Salvar alterações' : 'Criar tarefa') }}
            </button>
        </div>

    </form>
</div>